*{
  font-size:16px;
}

p{
  margin:0;
  padding:0;
}
nav{
  height:8rem;
  transition:height 0.5s;
  color:white;
  display:flex;
  position:relative;
}

nav ul{
  list-style: none;
  display:flex;
  position:absolute;
  right:5%;
  top:50%;
  transform:translateY(-50%);
  margin:none;
}

.highlight{
  margin:1rem;
  cursor:pointer;
  opacity:0.5;
}

.highlight:hover{
  opacity:1;
}


nav.navChange{
  opacity:1;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:15;
  height:5rem;
}

#logo{
  margin-left:1rem;
}

#logo span{
  display:inline-block;
  transition:transform 0.5s;
  font-size:3rem;
}

span#associates{
  font-size:1.5rem;
}

.navChange #associates{
  display:none;
}
.shrink{
  font-family: serif;
  font-style: italic;
}

.navChange .shrink{
  transform:scale(0.75);
}

.navChange .shrinkUp{
  transform: translate(-20%, -15%) scale(0.5);
} 

.navChange .shrinkLeft{
  transform: translate(-100%,15%) scale(0.5);
} 

#mission{
	text-align: center;
	padding:8rem 4rem;
}
.carousel-inner, .carousel-item{
	max-height:500px;
}

.carousel-item{
	position:relative;
}

.carousel-item:after{
	content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #343a40;
  opacity:0.3;
}

.carousel-caption{
	bottom:50%;
	transform:translateY(50%);
	text-align: left
}

#about{
	display:grid;
	grid-template-columns: 250px 250px;
	grid-template-rows: 250px 250px 250px;
	grid-gap:4rem;
	justify-content: center;
	overflow-x: hidden;
	padding-bottom:8rem;
}

#about img{
	object-fit:cover;
	height:100%;
}

.animated{
	 -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	animation-play-state: paused;
}

#contact{
  color:white;
  background:#007bff;
  padding:8rem;
  position: relative;
  z-index:-2;
  overflow: hidden;
}


.dollar{
position:absolute;
z-index:-1;
animation:floatDown ease-in-out infinite;
}

@keyframes floatDown{
  0%{
    transform:translate3d(0,0,0);
  }
  20%{
    transform:translate3d(100%,100px,0);
  }
  40%{
    transform:translate3d(-100%,150px,0);
  }
  60%{
    transform:translate3d(100%,300px,0);
  }
  80%{
    transform:translate3d(-100%,410px,0);
  }
  100%{
    transform:translate3d(100%,800px,0);
  }
}
.dollar:nth-child(1){
  top:-45%;
  right:17%;
  animation-duration:20s
}

.dollar:nth-child(2){
  top:-34%;
  right:0%;
  animation-duration:18s
}
.dollar:nth-child(3){
  top:-23%;
  right:10%;
  animation-duration:12s
}
.dollar:nth-child(4){
  top:-12%;
  right:35%;
  animation-duration:11s
}
.dollar:nth-child(5){
  top:-20%;
  right:20%;
  animation-duration:8s
}
#footer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4,4rem);
  padding:8rem;
}

#footLogo{
  grid-area:1/1/3/2;
}
#footContact{
  grid-area:3/1/5/2;
} 


@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    opacity:0;
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity:1;
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    opacity:0;
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity:1;
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    opacity:0;
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity:1;
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    opacity:0;
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity:1;
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
